.homepageBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.homePageHeader {
    background-color: #ffffff;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.recipeList {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.homePageTitle{
    margin: 0px;
    height:30px;
    font-family: Didot, serif;
    color:rgb(2, 86, 2);
    font-size: 32px;
    padding: 20px;
    flex-shrink: 0;
}

.mainHeaderBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
}

.mainHeaderHeader {
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.mainHeaderTitle{
    margin: 0px;
    height:30px;
    font-family: Didot, serif;
    color: green;
    font-size: 32px;
    padding: 20px;
}

.searchBar, .profile {
    flex-grow: 1;
    padding: 5px;
}

@media (max-width: 768px) {
    .homePageHeader {
    flex-direction: row;
    align-items: stretch;
    }
    .homePageTitle, .searchBar, .profile {
    width: 100%;
    text-align: center;
    }
}


.userActions {
    display: flex;
    align-items: center;
}

.favorites {
    margin-top: 17.5px;
    margin-right: 110px;
    cursor: pointer;
}

.favorites:hover {
    color: #ff4081;
}

.profile {
    display: flex;
    align-items: center;
}
