.homepageBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;


}

.homePageHeader {
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: row;

}

.recipeList {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.homePageTitle{
    margin: 0px;
    height:30px;
    font-family: Didot, serif;
    color: #171717;
    font-size: 32px;
    padding: 20px;
}



.mainHeaderBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;

}

.mainHeaderHeader {
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.mainHeaderTitle{
    margin: 0px;
    height:30px;
    font-family: Didot, serif;
    color: green;
    font-size: 32px;
    padding: 20px;
}
