.mainHeaderBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;


}

.mainHeaderHeader {
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Aligns items to left and right */
    align-items: center; /* Aligns items vertically */

}

.mainHeaderTitle{
    margin: 0;
    font-family: Didot, serif;
    color: #171717;
    font-size: 32px;
    padding: 0 20px;
}
