.profileButton{
    background-color: white;
    font-family: Didot, serif;
    color: rgb(6, 6, 6);
    gap: 50px;
    padding: 4px;
    height: 30%;
    width: 5%;
    font-size: small;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 35px;
    margin-right: 40px;
    outline: none;
}
