.recipeCard{
    background-color: rgb(211, 214, 212);
    display: flex;
    flex-direction: column;
    padding:  10px;
    margin: 10px;
    border-radius: 3px;
    height: 240px;
    width: 200px;
    align-items: center;
    color: white;
}

.recipeContent{
    height: 280px;
    width: 205px;
    font-family: Didot, serif;
    position: relative;
}

.recipeCard:hover {
    background-color: rgb(72, 69, 70);
    transform: scale(1.02);
}


.image{
    height: 170px;
    width: 205px;
    border-radius: 3px;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.recipeName{
    text-align:center;
    margin:0px;
    background-color: transparent;
    font-family: Didot, serif;
    font-size: 10%;
    width:200px;
    color: black;
}


.favoriteIcon{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    gap:5px;
    justify-content:space-between;
    margin-left: 20px;
    padding:5px;
}

.fa-solid {
    color:red;
}

.fa-regular{
    color: black;
}
.cuisine{
    font-family: Didot, serif;
    font-size: 35% ;
}

.underName{
    display: flex;
    margin-top:15px;
    gap: 120px;
    position: absolute;
    bottom: 0;
}

.recipe-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
