.recipeCard{
    background-color: rgb(211, 214, 212);
    display: flex;
    flex-direction: column;
    padding:  10px;
    margin: 10px;
    border-radius: 3px;
    height: 240px;
    width: 200px;
    align-items: center;
    color: white;
}

.recipeContent{
    height: 280px;
    width: 205px;
    font-family: Didot, serif;
    position: relative;
    display: flex;
    flex-direction: column;
}

.recipeCard:hover {
    background-color: rgb(72, 69, 70);
    transform: scale(1.02);
}



.image{
    height: 170px;
    width: 205px;
    border-radius: 3px;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.recipeName{
    text-align:center;
    margin:0px;
    background-color: transparent;
    font-family: Didot, serif;
    font-size: 10%;
    width:200px;
    color: black;
}


.favoriteIcon{
    display: flex;
    flex-direction: row;
    font-size: 11px;
    gap:5px;
    justify-content:space-between;
    margin-left: 5px;
    padding:5px;
}

.fa-solid {
    color:red;
}

.fa-regular{
    color: black;
}
.cuisines{
    margin-top: 5px;
    font-family: Didot, serif;
    font-size: 65% ;
    color:rgb(106, 122, 106);
}

.underName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
}

.recipe-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
