.searchPageHeader{
    background-color: #ffffff;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.searchPageTitle{
    margin: 0px;
    height:30px;
    font-family: Didot, serif;
    color: green;
    font-size: 32px;
    padding: 20px;
}

.home-icon{
    margin-right: 10px;
    font-size: 15px;
    color: inherit;
}

.toFavorites{
    margin-left: 1100px;
    margin-top: 24px;
    cursor: pointer;
}

.toFavorites:hover {
    color: #ff4081;
}
